#header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d)
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    min-height: 26px;
    position: relative;
}

.header__navbar-list {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin: 4px 0 0 0;
    height: 26px;
    line-height: 2.6rem;
}

.header__navbar-items {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--while-color);
    font-weight: 300;
    margin: 0 8px;
    position: relative;
    cursor: default;
}

.header__navbar-items-link {
    text-decoration: none;
    color: var(--while-color);
    font-size: 1.3rem;
}

.header_navbar-user-img {
    width: 22px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-icon-link:nth-child(2) {
    padding-left: 3px;
}

.header__navbar-user {
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-label {
    display: block;
}

.header__navbar-user-label {
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 6px);
    background-color: var(--while-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    padding: 0;
    color: var(--text-color);
    z-index: 100;
    box-shadow: 0 1px 4px #888;
    transform-origin: calc(100% - 22px) top;
    animation: headerNotifyGrowth ease-in 0.25s;
    will-change: opacity transform;
    cursor: default;
}

.header__navbar-user-label::before {
    content: "";
    border-width: 12px 16px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
    position: absolute;
    top: -22px;
    right: 6px;
}

.header__navbar-user-label::after {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    top: -10px;
    right: 0px;
}

.header__navbar-user-items {
    padding: 4px 16px;
    display: block;
    line-height: 1.6rem;
    font-weight: 100;
}

.header__navbar-user-items:hover {
    background-color: rgba(0, 0, 0, 0.02);
    cursor: pointer;
}

.border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.font-size-400 {
    font-weight: 400;
    font-size: 1.4rem;
}

.header__navbar-items-separate::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -11px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 1px solid #FB9086;
    height: 16px;
}

.header__navbar-items:hover, 
.header__navbar-items-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-icons {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-icon-link {
    text-decoration: none;
    color: var(--while-color)
}

.header__navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-items, 
.header__navbar-items-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-items--no-pointer {
    cursor: text;
    color: var(--while-color);
}

.header__navbar-items--qr:hover .header__qr-code {
    display: block;
}

.header__qr-code {
    display: none;
    position: absolute;
    left: 0;
    top: 30px;
    padding: 8px;
    background-color: var(--while-color);
    border-radius: 2px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    animation: fadeIn ease-in .3s;
    z-index: 1;
}

.header__qr-code > img {
    height: 170px;
}

.header__qr-link {
    display: flex;
    margin: 0 6px 0 9px;
    justify-content: space-between;
    align-items: center;
}

.header__qr-download-img {
    height: 16px;
}

.header__qr-code::before {
    content: "";
    display: block;
    height: 20px;
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
}

/* HEADER NOTIFY */
.header__notify {
    display: none;
    width: 400px;
    background-color: var(--while-color);
    position: absolute;
    top: 118%;
    right: 0;
    border-radius: 1px;
    border: 1px solid #d3d3d3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.25s;
    will-change: opacity transform;
    z-index: 1000;
}

.header__notify::before {
    content: "";
    position: absolute;
    top: -30px;
    right: 4px;
    border-width: 20px 28px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
}

.header__notify::after {
    content: "";
    display: block;
    height: 20px;
    width: 90px;
    position: absolute;
    top: -10px;
    right: 0px;
    background-color: transparent;
}

@keyframes headerNotifyGrowth {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.header__navbar-open-notify:hover .header__notify {
    display: block;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    background-color: rgba(238, 77, 45, 0.05);
    padding: 0 10px;
}

.header__notify-item:hover,
.header__notify-item--viewed {
    background-color: var(--while-color);
}

.header__notify-header h3 {
    color: #999;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0 0 0 12px;
    line-height: 40px;
    cursor: text;
    user-select: none;
}

.header__notify-link {
    display: flex;
    text-decoration: none;
    align-items: flex-start;
    padding: 8px 0;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
    padding-top: 4px;
}

.header__notify-info {
    padding-left: 8px;
}

.header__notify-name,
.header__notify-desc {
    display: block;
    flex-grow: 1;
}

.header__notify-name {
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-desc {
    color: #999;
    line-height: 1.6rem;
    margin-top: 4px;
}

.header__notify-footer {
    text-align: center;
    line-height: 1.6rem;
}

.header__notify-footer-btn {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0;
    font-weight: 400;
    font-size: 1.3rem;
}

/* Authentic modal */
.auth-form {
    background-color: var(--while-color);
    width: 500px;
    border-radius: 3px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    font-size: 1.4rem;
}

.auth-form__input {
    height: 40px;
    width: 100%;
    margin-top: 16px;
    font-size: 1.4rem;
    padding: 0 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline-color: #999;
}

.auth-form__term {
    display: block;
    padding: 24px 0px;
    font-size: 1.0rem;
    text-align: center;
}

.auth-form__term-link {
    font-size: 1.0rem;
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__social {
    background-color: #f2f2f2;
    padding: 12px 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.btn--with-icon {
    flex: 1;
}

.btn.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    display: flex;
    padding: 0 8px;
    align-items: center;
}

.auth-form__social-icon {
    font-size: 1.84rem;
    padding-right: 24px;
}

.auth-form__social--facebook {
    font-size: 2rem;
    color: var(--while-color);
}

.btn.btn--facebook {
    background-color: #3a5a98;  
    margin-right: 8px;  
    color: var(--while-color);
}

.btn.btn--google {
    background-color: var(--while-color);
}

.auth-form__social--google {
    color: #FB9086;
    color: var(--text-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.auth-form__help-link {
    color: #999;
    font-size: 1.4rem;
    text-decoration: none;
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid var(--border-color);
    height: 20px;
    margin: 0 12px;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

.modal {
    display: none;
}

.auth-form--log-in,
.auth-form--sign-in {
    display: none;
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    padding: 0 6px;
}

.header-with-search__logo-link {
    padding-right: 40px;
}

.header__logo-img {
    width: 162px;
    padding: 2px;
}

.header__search {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
}

.header__search-main {
    position: relative;
    width: 840px;
    height: 40px;
    background-color: var(--while-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    padding: 3px;
}

.header__shopping-carts {
    flex: 1;
    text-align: center;
    position: relative;
}

.header__shopping-carts:hover .header__shopping-carts-items {
    display: flex;
}

.header__shopping-carts-icon {
    font-size: 2.4rem;
    color: var(--while-color);
    margin-top: 4px;
}

.header__search-input {
    width: 625px;
    height: 40px;
    padding: 0 10px;
    border: none;
    border-radius: 2px;
    outline: none;
}

.header__search-icon {
    font-size: 1.4rem;
    color: var(--while-color);
    background-color: var(--primary-color);
    border-radius: 2px;
    padding: 0 15px;
}

.header__search-icon:hover {
    opacity: 0.85;
    cursor: pointer;
}

.header__search-icon-search {
    margin: 10px 8px;
}

.header__search-selection {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    position: relative;
}

.header__search-selection-choice {
    top: calc(100% + 8px);
    height: calc(2 * 100%);
    width: calc(100% + 6px);
    right: 0;
    display: none;
    z-index: 150;
    animation: fadeIn ease-in 0.1s;
}

.header__search-selection:hover .header__search-selection-choice {
    display: flex;
}

.header__search-selection-choice::before {
    content: "";
    display: block;
    height: 16px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: -10px;
}

.selection__choice-select {
    display: flex;
    font-size: 1.4rem;
    padding: 0 10px 0 15px;
    align-items: center;
    height: calc(75% / 2);
    width: 100%;
}

.selection__choice-select-icon {
    font-size: 1.4rem;
    color: var(--primary-color);
    padding-left: 12px;
}

.header__search-selection-label {
    display: flex;
    align-items: center;
    height: 75%;
    border-left: 1px solid var(--border-color);
    padding: 0 10px 0 15px;
}

.header__search-selection-icon {
    font-size: 0.8rem;
    padding-left: 12px;
}

.header__search-selection:hover {
    cursor: pointer;
}

.header__search-history {
    display: none;
    width: 605px;
    top: calc(100% + 5px);
    align-items: stretch;
    left: 0;
    animation: fadeIn ease-in 0.1s;
    z-index: 100;
}

.header__shopping-carts-items,
.header__search-selection-choice,
.header__search-history {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    background-color: var(--while-color);
    border-radius: 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.box__desc,
.header__search-history-select {
    display: block;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 10px;
}

.box__desc {
    color: rgba(0, 0, 0, 0.38);
    text-align: left;
}

.header__search-history-select:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.02);
} 

.header__search-suggest {
    display: flex;
    margin-top: 3px;
}

.header__search-suggest-item {
    margin: 5px 0 5px 13px;
    color: var(--while-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
}

/* Shopping Cart Items */
.header__shopping-carts::before {
    content: "3";
    display: block;
    position: absolute;
    background-color: var(--while-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--primary-color);
    padding: 1px 7px;
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    top: -8px;
    right: 46px;
}

.header__shopping-carts-items {
    display: none;
    width: 400px;
    top: calc(100% + 16px);
    right: 42px;
    transform-origin: calc(100% - 10px) top;
    animation: headerNotifyGrowth ease-in 0.25s;
    will-change: opacity transform;
    z-index: 200;
}

.header__shopping-carts-items::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    border-width: 10px 12px;
    border-color: transparent transparent var(--while-color) transparent;
    border-style: solid;
    top: -20px;
    right: 10px;
}

.header__shopping-carts-items::after {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 20px;
    top: -16px;
    right: 0;
}

.carts__items {
    display: flex;
    padding: 10px;
    align-items: flex-start;
}

.carts__items:hover {
    background-color: rgba(238, 77, 45, 0.05);
    cursor: pointer;
}

.carts__items-img {
    width: 44px;
    object-fit: contain;
    border: var(--border-color) 1px solid;
}

.carts__items-desc {
    flex: 1;
    line-height: 1.6rem;
    max-height: 3.2rem;
    overflow: hidden;
    text-align: left;
    padding-left: 10px;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.carts__items-price {
    color: var(--primary-color);
}

.carts__items-footer {
    display: flex;
    padding: 12px 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: var(--text-color);
}

.carts__items-btn {
    padding: 8px 12px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 2px;
    color: var(--while-color);
    cursor: pointer;
}

.carts__items-btn:hover {
    background-color: #ee4d2ddc;
}

/* Container */
.app {
    background-color: #f5f5f5;
}

.app__main-container {
    margin: 30px 0 80px 0;
}

.category-heading {
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--text-color);
    height: 5rem;
    line-height: 5rem;
    margin: 0 0 10px 0;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
}

.category-heading-icon {
    margin-right: 10px;
    font-size: 1.4rem;
}

.category-list {
    list-style: none;
    padding: 0;
}

.category-item {
    padding: 8px 12px;
}

.category__item-link {
    color: var(--text-color);
    text-decoration: none;
}

.category__item-link--active {
    color: #ee4d2d;
    position: relative;
}

.category__item-link--active::before {
    content: "";
    position: absolute;
    border-width: 4px 4px;
    border-style: solid;
    border-color: transparent transparent transparent #ee4d2d;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
}

/* Sort + Filter */
.sort-bar-label {
    display: flex;
    padding: 13px 20px;
    background-color: rgba(0, 0, 0, 0.045);
    border-radius: 2px;
    align-items: center;
    justify-content: space-between;
}

.sort-bar__heading {
    margin-right: 5px;
    color: #555;
}

.sort-bar__by-option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.sort-bar__option {
    padding: 0 15px;
    min-width: 60px !important;
    margin-left: 10px;
    color: var(--text-color);
    background-color: var(--while-color);
}

.sort-bar__option:hover {
    color: var(--text-color);
    background-color: var(--while-color);
}

.sort-bar__option--active,
.sort-bar__option--active:hover {
    background-color: var(--primary-color);
    color: var(--while-color);
}

.sort-bar__option-status {
    display: flex;
    align-items: center;
    color: var(--text-color);
    background-color: var(--while-color);
    margin-left: 10px;
    border-radius: 2px;
    position: relative;
}

.sort-bar__option-status:hover .sort-bar__option-label {
    display: block;
}

.sort-bar__option-label {
    display: none;
    background-color: var(--while-color);
    border-radius: 2px;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.07);
    position: absolute;
    width: 100%;
    top: calc(100% + 1px);
    right: 0;
    z-index: 1;
}

.sort-bar__option-choice {
    display: block;
    color: var(--text-color);
    height: 3.4rem;
    line-height: 3.4rem;
    margin-left: 12px;
}

.sort-bar__option-choice:hover {
    color: var(--primary-color);
}

.sort-bar__option-select {
    width: 154px;
    height: 34px;
    line-height: 34px;
    margin: 0 10px 0 12px;
}

.sort-bar__option-select-icon {
    margin-right: 12px;
}

.sort-bar__controller {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-bar__current-page {
    color: var(--primary-color);
}

.sort-bar__total-page {
    margin-right: 20px;
}

.sort-bar__controller-btn {
    background-color: var(--while-color);
    border: none;
    padding: 8px;
}

.sort-bar__controller-icon {
    padding: 1px 6px;
}

.sort-bar__controller-pre-btn {
    border-right: 1px solid #f2f2f2;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.sort-bar__controller-next-btn {
    position: relative;
    left: -3px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.sort-bar__controller-main, .sort-bar__option,
.sort-bar__option-status {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.sort-bar__controller-btn--disable,
.sort-bar__controller-btn--disable:hover {
    color: rgba(0, 0, 0, 0.26);
    cursor: default !important;
}

.sort-bar__option-status:hover, 
.sort-bar__controller-btn:hover {
    cursor: pointer;
}

/* Result view */
.container__result-view {
    display: flex;
}

.container__result-view-item {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--while-color);
    position: relative;
    top: 0;
    transition: top ease 0.1s;
    box-shadow: 0 1 2px 0 rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    will-change: transform;
}

.container__result-view-item:hover {
    cursor: pointer;
    top: -1px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
}

.result-view-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.result-view-item__info {
    padding: 8px;
}

.result-view-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.6rem;
    height: 3.2rem;
    overflow: hidden;
    margin: 0;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.result-view-item__hashtag {
    display: block;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 2px 4px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    width: fit-content;
    margin-top: 4px;
}

.result-view-item__price {
    display: flex;
    padding-top: 8px;
    align-items: center;
}

.result-view-item__price-normal {
    margin-right: 5px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.result-view-item__price-sales {
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--primary-color);
}

.result-view-item__action,
.result-view-item__origin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
    color: var(--text-color);
}

.result-view-item__action {
    padding-top: 6px;
}

.result-view-item__like {
    color: var(--primary-color);
}

.result-view-item__rate {
    color: #ffce3d;
}

.result-view-item__favourite {
    color: var(--primary-color);
    background-color: currentColor;
    font-weight: 500;
    font-size: 1.2rem;
    position: absolute;
    top: 10px;
    left: -4px;
    padding-right: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    line-height: 1.4rem;
}

.result-view-item__favourite::before {
    content: "";
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
    position: absolute;
    top: 100%;
    left: 0;
}

.result-view-item__favourite-icon {
    font-size: 1.2rem;
    margin-left: 2px;
    color: var(--while-color);
}

.result-view-item__favourite-desc {
    color: var(--while-color);
}

.result-view-item__sale-off {
    color: rgba(255, 216, 64, 0.94);
    background-color: currentColor;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.result-view-item__sale-off::after {
    content: "";
    border-top: 4px solid currentColor;
    border-left: 20px solid transparent;
    position: absolute;
    top: 100%;
    right: 0;
}

.result-view-item__sale-off::before {
    content: "";
    border-top: 4px solid currentColor;
    border-right: 20px solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
}

.result-view-item__sale-off-persent {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.4rem;
    padding-top: 2px;
}

.result-view-item__sale-off-label {
    font-weight: 600;
    color: var(--while-color);
    text-transform: uppercase;
}

/* Page controller */
.container__result-page-controller {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}

.result-page-controller__btn {
    font-size: 2rem;
    line-height: 3rem;
    height: 30px;
    color: rgb(112, 110, 110);
    min-width: 40px !important;
    margin: 0 15px;
    cursor: pointer;
    font-weight: 400;
}

.result-page-controller__btn:hover {
    background-color: transparent;
}

.result-page-controller__btn-current {
    color: var(--while-color);
    background-color: var(--primary-color);
}

.result-page-controller__btn-current:hover {
    background-color: #ee4d2de6;
}

/* Footer */
#footer {
    border-top: 4px solid var(--primary-color);
    background-color: var(--while-color);
}

.footer__section {
    height: 30px;
    margin-top: 60px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--border-color);
}

.footer__container {
    border-bottom: 1px solid var(--border-color);
}

.footer__desc {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.87);
    margin: 40px 0 20px;
}

.footer__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 26px;
}

.footer__list-item {
    margin-bottom: 12px;
}

.footer__list-item-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.65);
    font-size: 1.4rem;
}

.footer__list-item-link:hover {
    color: var(--primary-color);
}

.footer__qr-code {
    display: flex;
    align-items: center;
}

.footer__qr-img {
    width: 102px;
    padding: 4px;
    margin-right: 12px;
}

.footer__qr-link {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
}

.footer__qr-download-link {
    padding: 4px;
}

.footer__qr-download-img {
    width: 82px;
}

.footer__qr-img, .footer__qr-download-link {
    box-shadow: 0 1px 1px 0 #888;
}

.footer__private {
    padding: 40px 0;
    margin: 0 auto;
    font-size: 1.4rem;
    line-height: 2rem;
}